{% extends 'base.html' %}
{% block title %}Clientes{% endblock %}

{% block content %}
<section class="container">
	<h3>Listado de Clientes</h3>
</section>


<section class="container">
	<div class="pull-right">
		<a class="btn btn-default" href="{% url 'clientes:nuevocliente' %}">Nuevo Cliente</a>
	</div>

</section>
<br>
<section class="container">

<div class ="table-responsive">
	<table class="table table-condensed table-hover">
  	  <thead>
      	<tr>
        	<th>Nombres</th>
        	<th>Paterno</th>
        	<th>Materno</th>
        	<th>Identificacion</th>
        	<th>Direccion</th>
        	<th>Comuna</th>
        	<th>Telefono</th>
			<th></th>
			<th></th>
      	</tr>
		<tbody>
			{% for cliente in clientes %}
			<tr>
			<td>{{ cliente.nombres }}</td> 
			<td>{{ cliente.apellido_paterno }}</td> 
			<td>{{ cliente.apellido_materno }}</td> 
			<td>{{ cliente.identificacion }}</td> 
			<td>{{ cliente.direccion }}</td> 
			<td>{{ cliente.comuna }}</td>  
			<td>{{ cliente.telefono }}</td>
			<td><a href="{% url 'clientes:byid' cliente.id %}"><i class="glyphicon glyphicon-pencil"></i></a>  </td>
			<td><a href="{% url 'clientes:deletebyid' cliente.id %}"> <i class="glyphicon glyphicon-trash"></i></a></td>
			</tr>
			{% endfor %} 

		</tbody>
	</table>
</div>
</section>
{% endblock %}