{% extends 'base.html' %}
{% block title %}Compradores{% endblock %}

{% block content %}
<section class="container">
	<h3>Listado de Compradores</h3>
</section>


<section class="container">
<div class ="table-responsive">
	<table class="table table-condensed table-hover">
  	  <thead>
      	<tr>

        	<th>Rut</th>
        	<th>Razon Social</th>
        	<th>Establecimiento</th>
        	<th>Direccion</th>
        	<th>Comuna</th>
			<th></th>
			<th></th>

      	</tr>
		<tbody>
			{% for comprador in compradores %}


			<tr>
			<td>{{ comprador.rut }}</td>
			<td>{{ comprador.razon_social }}</td>
			<td>{{ comprador.establecimiento }}</td>
			<td>{{ comprador.direccion }}</td>
			<td>{{ comprador.comuna }}</td>
			<td><a href="{% url 'compradores:byid' comprador.id %}"><i class="glyphicon glyphicon-pencil"></i></a>  </td>
			<td><a href="{% url 'compradores:byid' comprador.id %}"> <i class="glyphicon glyphicon-trash"></i></a></td>

			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>
</section>

{% endblock %}