{% extends 'base.html' %}
{% block title %}Compradores{% endblock %}

{% block content %}
<h3>Listado de Compradores</h3>


<div class ="table-responsive">
	<table class="table table-condensed table-hover">
  	  <thead>
      	<tr>
        	<th>id</th>
        	<th>Nombres</th>
        	<th>Paterno</th>
        	<th>Materno</th>
        	<th>Identificacion</th>
        	<th>Direccion</th>
        	<th>Comuna</th>
        	<th>Telefono</th>
      	</tr>
		<tbody>
			{% for cliente in clientes %}


			<tr>
			<td><a href="{% url 'clientes:byid' cliente.id %}">{{ cliente.id }}</a>  </td>
			<td>{{ cliente.nombres }}</td>
			<td>{{ cliente.apellido_paterno }}</td>
			<td>{{ cliente.apellido_materno }}</td>
			<td>{{ cliente.identificacion }}</td>
			<td>{{ cliente.direccion }}</td>
			<td>{{ cliente.comuna }}</td>
			<td>{{ cliente.telefono }}</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

{% endblock %}