<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>{%block title%}{%endblock%}</title>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="screen" />
</head>
<body>

<section class="container">
	<header class="row">
		<div class="col-lg-12">
	{%block logo%}{%endblock%}

			<ul class="nav nav-pills pull-right">
				<li>
					<a href="#">
						<i class="glyphicon glyphicon-user"></i>
					</a>
				</li>
				<li>
					<a href="/logout/">
						<i class="glyphicon glyphicon-log-out"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-12">
			<ul class="nav nav-tabs">
				<li>
					<a href="#">
						Inicio
					</a>
				</li>
				<li>
					<a href="#">
						Libros
					</a>
				</li>
				<li>
					<a href="/clientes/">
						Clientes
					</a>
				</li>
				<li>
					<a href="#">
						Compradores
					</a>
				</li>

			</ul>
		</div>
	</header>

  {% block content %}{% endblock %} 



</section>

	



 <footer class="footer">
      <div class="container">
        <p class="text-muted">tlzSySteM 2016. Todos los derechos reservados </p>
      </div>
    </footer>

<script src="{% static "jquery/jquery.min.js" %}"></script>
<script src="{% static "bootsrap/js/bootstrap.min.js" %}"></script>
</body>
</html>